
<table>
  <tr>
    <th>Service</th>
    <th>Category</th>
    <th></th>
  </tr>
<% for service in @all_services %>
  <tr>
    <td><%= link_to(service.name, "/services/#{service.id}") %></td>
    <td><%= service.category.name %></td>
    <td><%= link_to "Edit", edit_service_path(service) %></td>
    <td><%= link_to("Delete", service, method: :delete, data: { confirm: "Are you sure?" }) %></td>
  </tr>
<% end %>
</table>

<p><%= link_to "New Service", new_service_path %></p>
