  <%= form_for @doctor do |f| %>
    <div class="row">
        <div class="input-field col s6">
            <%= f.text_field :first_name, required: true, placeholder: 'First Name' %>
        </div>
        <div class="input-field col s6">
            <%= f.text_field :last_name, required: true, placeholder: 'Last Name'  %>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <%= f.select :gender, %w{Male Female}, :prompt => 'Select', required: true, placeholder: 'Gender', class: 'form-control' %>
            <label>Gender</label>
        </div>
        <div class="input-field col s6">
            <%= f.text_field :qualification, required: true, placeholder: 'Qualification'%>
        </div>
    </div>

    <label>Specialty</label>
    <%= collection_select(:doctor, :categories, Category.all, :id, :name,  {:prompt => "Select", :class => "input-field col s12"}, {:multiple => true}) %>

    <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action" style="margin-bottom: 60px;"><%= f.submit %></button>
    <% end %>
