<div class="login">
  <h4>Signup</h4>

  <% if flash[:error] %>
    <p>
      <%= flash[:error] %>
    </p>
  <% end %>

  <%= form_for :doctor, url: '/doctors' do |f| %>

    <%= f.text_field :first_name, placeholder: 'First Name' %>
    <%= f.text_field :last_name, placeholder: 'Last Name' %>
    <%= f.text_field :email, placeholder: 'Email'  %>
    <%= f.password_field :password, placeholder: 'Password:' %>
    <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>

  <%= button_tag "Sign Up", :class => "btn waves-effect waves-light z-depth-0" %>

  <% end %>
</div>
