<h4>Dr: <%= @doctor.first_name %> <%= @doctor.last_name %></h4>

<ul>
  <li>Gender: <%= @doctor.gender %></li>
  <li>Qualification: <%= @doctor.qualification %></li>
  <li>Specialty:
    <% @doctor.categories.uniq.each do |category| %>
      <%= link_to category.name, services_path %>
    <% end %>
  </li>
</ul>


<div class="controls">
  <%= link_to("Edit", "/doctors/#{@doctor.id}/edit") %>
  <%= link_to("Delete", "/doctors/#{@doctor.id}", method: :delete, data: { confirm: "Are you sure?" }) %>
</div>
