<!DOCTYPE html>
<html>
    <head>
        <title>DentalPortal</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <nav class="teal lighten-3 z-depth-0 ">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">DentalPortal</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse">
                        <i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><%= link_to "Services", "/services" %></li>
                        <li><%= link_to "Doctors", "/doctors" %></li>

                        <% if @current_doctor %>
                            <li><%= link_to "Logout", '/logout' %></li>
                            <li><a href= "<%= doctor_path(@current_doctor) %>"><%= @current_doctor.first_name %></a></li>

                      <% else %>
                            <li><%= link_to 'Login', '/login' %></li>
                            <li><%= link_to 'Signup', '/signup' %></li>
                      <% end %>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><%= link_to "Services", "/services" %></li>
                        <li><%= link_to "Doctors", "/doctors" %></li>
                        <% if @current_doctor %>
                            <li><%= link_to "Logout", '/logout' %></li>
                            <li><a href= "<%= doctor_path(@current_doctor) %>"><%= @current_doctor.first_name %></a></li>

                        <% else %>
                            <li><%= link_to 'Login', '/login' %></li>
                            <li><%= link_to 'Signup', '/signup' %></li>
                        <% end %>
                    </ul>
                </div>

            </div>
        </nav>

        <div class="main">
                <%= yield %>
        </div>

        <footer class="page-footer teal lighten-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <p class="white-text" style="text-transform: uppercase;">About Us</p>
                        <p class="grey-text text-lighten-4">We are a local dental practice that offer services for your whole family. We take special pride in our professional and friendly service, providing you with quality dentistry and a very high level of patient care. Our comprehensive treatment plans cater for all your dental and cosmetic needs. </p>
                    </div>
                    <div class="col l2 offset-l1 s12">
                        <p class="white-text" style="text-transform: uppercase;">Services</p>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="/services">General Dentistry</a></li>
                            <li><a class="grey-text text-lighten-3" href="/services">Cosmetic Dentistry</a></li>
                            <li><a class="grey-text text-lighten-3" href="/services">Implant Dentistry</a></li>
                            <li><a class="grey-text text-lighten-3" href="/services">Orthodontics</a></li>
                            <li><a class="grey-text text-lighten-3" href="/services">Advanced Services</a></li>
                            <li><a class="grey-text text-lighten-3" href="/services">Aesthetic Services</a></li>
                        </ul>
                    </div>
                    <div class="col l2 offset-l1 s12">
                        <p class="white-text" style="text-transform: uppercase;">Opening Hours</p>
                        <ul>
                            <li class="white-text">Mon-Wed: 9am - 6pm</li>
                            <li class="white-text">Thu-Fri: 8:30am - 6pm</li>
                            <li class="white-text">Sat: 8:30am - 4pm</li>
                            <li class="white-text">Sun: Closed</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Copyright
                </div>
            </div>
        </footer>

    </body>
</html>
